<%- include('../partials/head') %>
<body>
  <div class="container">
    <h1>Mini Message Board</h1>
    <ul>
        <% messages.forEach((message) => { %>
            <li>
                <div>
                    <strong><%=message.user %></strong>
                    <em><%=message.added.toLocaleString() %></em>
                    <p><%= message.text %></p>
                </div>
            </li>
        
        <% }) %>
    </ul>
    <a href="/form">Add a new message</a>
  </div>
</body>
<%- include('../partials/footer') %>
